body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .signup-container {
    text-align: center;
    padding-top: 30%;
  }
  
  .signup-logo {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .signup-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  
  .signup-form input,
  .signup-form select {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signup-btn {
    background-color: #00008b;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
  }
  
  .signup-btn:hover {
    background-color: #1e90ff;
  }